body {
    margin: 0;
}
section.fixed-height {
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0;
    overflow: hidden;
    position: relative;
}

@media (min-width: 725px){
section.fixed-height {
    height: 80%;
    min-height: 500px;
}
}
@media (min-width: 300px){
    section.fixed-height {
    height: 30%;
    min-height: 200px;
}
}

.touch section.fixed-height {
    background-attachment: scroll;
}
.homepage-panel {
    background-size: cover;
}

